body{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    fill: #333;
    color: #333;
    box-sizing: border-box;
}
.nav-container{
    width: 100%;
    display: flex;
}
.navBar{
    background-color: white;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.navBar a{
    float: left;
    color: #333333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px ;
    font-family: Helvetica;
}
.navBar a:hover{
    cursor: pointer;
    background-color: white;

}
.first-container{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.first-part-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.first-part-container .section-showcase{
    position: relative;
}
.first-part-container .section-showcase img.bg{
    display: block;
    margin: 0 auto;
    max-height: 67vh;
}
img{
    max-width: 100%;
    height: auto;
}
.first-part-container .section-showcase img:not(.bg){
    height: 78%;
    left: 50%;
    position: absolute;
    top:2%;
    transform: translateX(-50%);
    border-radius: 4px;

}

.text{
    font: 1.25em sans-serif;
    line-height: 1.33;
}
.first-part-container .section-amount{
    flex: 0 0 auto;
    max-width: 100%;
    padding: 0 0 16px;
}
#amounts h4{
    display: inline-block;

}
h4{
    font: 1.25em sans-serif;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 16px;
}
#choise-buttons{
    margin: 0 24px;
    display: inline-flex;
}
.small-button{
    margin: 3px;
    padding: 8px 16px;
    vertical-align: top;
}
.payment-button{
    font: 1em sans-serif;
}
.payment-button::before{
   
    content: "$";
    float: left;
    font-size: 14px;
    margin-left: -3px;
    margin-right: 3px;
}
.pre-amount{
    position: absolute;
    pointer-events: none;
    margin-top: 0.8em;
    margin-right: -21px;
    margin-left: 14px;
    font-size: 14px;
}
#custom-amount{
    padding: 24px;
    padding-right: 24px;
    text-align: center;
    width: calc(100%-6px);
}
.section-content{
    flex-direction: column;
}

.title-elementary-image{
  
    width: 100%;
    height: 66px;
    margin: 16px auto;
    max-width: 100%;
    position: relative;
    width: 454px;
}
.column{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}
#download{
    margin: 3px auto 6px;
}
.buttonDownload{
    background-color: #64b9f1;
    background-image: linear-gradient(to bottom,#4ca7e4,#328ecc);
    border-color: #337cac;
    color: #fff;
    text-shadow: 0 1px rgb(0 0 0 / 30%);
    font-family: Arial, Helvetica, sans-serif;
}
p.small-label {
    font-size: 12px;
    margin: 0;
    opacity: .8;
    padding: 0;
    text-align: center;
}
p{
    line-height: 1.65;
}
.recomended{
    color: #08c;
    fill: #08c;
    text-decoration: none;
}
.payment-icons{
    padding: 0 1rem;
    margin: 1rem;
    flex-direction: row;
}
.payment-element{
    width: 200px;
    margin-right: auto;
    margin-left: auto;

}
.text-pagos{
   font-size: 12px; 
}
.grey{
    background-color:#fafafa ;
}
#second{
    padding: 64px 1em;
  
}
#second::before{
    background-color: #667885;
    background-image: url(../images/logomark-white.svg),-webkit-gradient(linear,left top,left bottom,from(rgba(54,137,230,.25)),to(rgba(13,82,191,.75))),url(../images/wallpaper.jpg);
    background-image: url(../images/logomark-white.svg),-webkit-linear-gradient(top,rgba(54,137,230,.25),rgba(13,82,191,.75)),url(../images/wallpaper.jpg);
    background-image: url(../images/logomark-white.svg),-o-linear-gradient(top,rgba(54,137,230,.25),rgba(13,82,191,.75)),url(../images/wallpaper.jpg);
    background-image: url(../images/logomark-white.svg),linear-gradient(to bottom,rgba(54,137,230,.25),rgba(13,82,191,.75)),url(../images/wallpaper.jpg);
    background-size: contain,cover,cover;
    background-position: center;
    border: 1px solid rgba(0,0,0,.35);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1px rgb(255 255 255 / 5%), inset 0 1px 0 0 rgb(255 255 255 / 45%), inset 0 -1px 0 0 rgb(255 255 255 / 15%), 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 5%), inset 0 1px 0 0 rgb(255 255 255 / 45%), inset 0 -1px 0 0 rgb(255 255 255 / 15%), 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    content: "";
    display: block;
    height: 128px;
    margin: 0 auto;
    width: 128px;
}
.image-second-section{
    background-size: contain, cover,cover;
    background-position: center;
    border-radius: 50%;
    display: block;
    height: 128px;
    margin: 0 auto;
    width: 128px;
}
.grid{
    margin: 0 auto;
    max-width: 1200px;
    padding: 32px 0;
    text-align: center;
    width: auto;
}
.grid .two-thirds{
    display: inline-block;
    vertical-align: top;
    width: calc(66% - 48px);
}
h2{
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 16px;
    padding: 0;
}
.read-more::after{
    color: inherit;
    content: "\2192";
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    padding-left: 3px;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    transition: -webkit-transform .15s ease-in-out;
    -o-transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
}
#second .featured{
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
    width: 33.33%;
}
#second .featured .featured-image{
    height: 200px;
    margin-bottom: 0.5rem;
    width: 100%;
}
#second .featured header h4 {
    margin-bottom: 1em;
}
#second .featured header h4+p {
    line-height: 1.25;
    margin-top: -1em;
    margin-bottom: 1em;
    opacity: .75;
}
#second  .byline {
    font-size: .8em;
    line-height: 1.5em;
    margin: 1.5em auto;
    max-width: 40rem;
}
#second .byline .avatar {
    background-color: #485a6c;
    border: none;
    border-radius: 50%;
    color: transparent;
    float: left;
    height: 48px;
    margin-right: 0.5em;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 48px;
}
#second .byline .avatar::before {
    content: "";
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1px rgb(0 0 0 / 35%), inset 0 0 0 2px rgb(255 255 255 / 10%), inset 0 2px 0 0 rgb(255 255 255 / 45%), inset 0 -2px 0 0 rgb(255 255 255 / 15%), 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 2px 0 rgb(0 0 0 / 24%);
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 35%), inset 0 0 0 2px rgb(255 255 255 / 10%), inset 0 2px 0 0 rgb(255 255 255 / 45%), inset 0 -2px 0 0 rgb(255 255 255 / 15%), 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 2px 0 rgb(0 0 0 / 24%);
    height: 100%;
    position: absolute;
    width: 100%;
}
#second .byline .name {
    font-weight: 600;
    opacity: .8;
}
#second .featured .featured-image {
    height: 200px;
    margin-bottom: 0.5rem;
    width: 100%;
}
#second .featured header .byline {
    max-width: 100%;
}
#second  .byline .read-time::before {
    display: inline-block;
    margin: 0 0.25em;
    content: " · ";
}
.blog-container{
    display:flex;
    flex-direction: row;
}
.grid .two-thirds {
    display: inline-block;
    vertical-align: top;
    width: calc(66% - 48px);
}
.float-left{
    float: left;
}
.float-rigth{
    float: right;
}
.grid .half {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 48px);
}
.grid .half {
    justify-content: space-between;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 48px);
}